@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Bitter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  body {
    @apply relative inset-0;
  }
}

main {
  @apply w-[100vw] h-[100vh] overflow-hidden;
  --color-start: hsl(240 1% 14%);
  --color-end: hsl(240 0% 6%);
  --grad-start: 0%;
  --grad-end: 90%;
  background-image: linear-gradient(180deg, var(--color-start) var(--grad-start), var(--color-end) var(--grad-end));
}
